// Reset Styles

html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    &::after,
    &::before {
      box-sizing: inherit;
    }
  }
}

body {
  margin: 0;
  position: inherit;
}

.iqdropdown {
  // This feature is non-standard, it will not work for every user
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  * {
    // This feature is non-standard, it will not work for every user
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: inherit;
    }

    &:not(input) {
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    cursor: pointer;
  }

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  select::-ms-expand {
    display: none;
  }

  input::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }
}
