@import "../app";
@import "iqdropdown-menu";
@import "item-description";
@import "controls";

.iqdropdown {
  align-items: center;
  border: $iqdropdown-input-border;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: $iqdropdown-height;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  width: 100%;

  .iqdropdown-selection {
    @include font(17px);
    flex: 1;
    position: relative;

    &::after {
      @include background-image('/src/images/dropdown-arrow-down.png', 5px, 12px);
      position: absolute;
      right: 0;
      top: 10px;
    }

    &.menu-open::after {
      background-image: url('/src/images/dropdown-arrow-up.png');
    }
  }
}
