.iqdropdown {
  &-content {
    flex: 1;
    padding-right: 10px;
  }

  &-item {
    @include font-styles;
  }

  p.iqdropdown-description {
    @include font-styles(12px);
    margin-top: 5px;
  }
}
