.iqdropdown {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $iqdropdown-color: $base-font-color;
  $iqdropdown-description-color: lighten($iqdropdown-color, 40%);
  $iqdropdown-border: 1px solid silver;
  $iqdropdown-background: $base-background-color;
  $iqdropdown-background-hover: darken($iqdropdown-background, 3%);
  $iqdropdown-inner-border: 1px solid silver;
  $iqdropdown-height: 40px;
  $iqdropdown-padding: 1em;
  $iqdropdown-distance-from-menu: 50px;
  $iqdropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .iqdropdown-container {
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
  }

  .iqdropdown-description {
    background: $iqdropdown-background;
    border-bottom: $iqdropdown-border;
    border-bottom-left-radius: $base-border-radius;
    border-left: $iqdropdown-border;
    border-top-left-radius: $base-border-radius;
    border-top: $iqdropdown-border;
    color: $iqdropdown-description-color;
    float: left;
    font-size: 0.7em;
    line-height: $iqdropdown-height;
    margin: 0;
    padding: 0 ($iqdropdown-padding / 2) 0 $iqdropdown-padding;
  }

  .iqdropdown-selection {
    background: $iqdropdown-background;
    border-bottom: $iqdropdown-border;
    border-bottom-right-radius: $base-border-radius;
    border-right: $iqdropdown-border;
    border-top: $iqdropdown-border;
    border-top-right-radius: $base-border-radius;
    float: right;
    font-size: 0.7em;
    line-height: $iqdropdown-height;
    margin: 0;
    padding: 0 ($iqdropdown-padding * 2.5) 0 ($iqdropdown-padding / 2);
    position: relative;
    flex: 1;
  }

  .iqdropdown-selection::after {
    color: $base-font-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $iqdropdown-padding;
    top: $iqdropdown-arrow-top-distance;
  }

  .iqdropdown-menu {
    background: $iqdropdown-background;
    border: $iqdropdown-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $iqdropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    top: $iqdropdown-distance-from-menu;
    transition: all 0.2s ease-in-out;
    width: 228px;
    z-index: 99999;

    &::before {
      position: absolute;
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
      color: $iqdropdown-background;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
    }
  }

  .iqdropdown-menu li {
    border-bottom: $iqdropdown-inner-border;
    color: $iqdropdown-color;
    list-style: none;
    padding: $iqdropdown-padding / 2;
    display: flex;
  }

  .iqdropdown-menu li:hover {
    background: $iqdropdown-background-hover;
  }

  .iqdropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .iqdropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .iqdropdown-menu li div:first-child {
    flex: 1;
  }

  .show-menu {
    display: block;
  }
}
