.iqdropdown {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $iqdropdown-color: $base-font-color;
  $iqdropdown-description-color: lighten($iqdropdown-color, 40%);
  $iqdropdown-border: 1px solid silver;
  $iqdropdown-background: $base-background-color;
  $iqdropdown-background-hover: darken($iqdropdown-background, 3%);
  $iqdropdown-inner-border: 1px solid silver;
  $iqdropdown-height: 40px;
  $iqdropdown-padding: 1em;
  $iqdropdown-distance-from-menu: 40px;
  $iqdropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .iqdropdown-container {
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    border: $iqdropdown-border;
  }

  .iqdropdown-description {
    background: $iqdropdown-background;
    color: $iqdropdown-description-color;
    font-size: 0.7em;
    line-height: $iqdropdown-height;
    margin: 0;
    padding: 0 ($iqdropdown-padding / 2) 0 $iqdropdown-padding;
  }

  .iqdropdown-selection {
    background: $iqdropdown-background;
    font-size: 0.7em;
    line-height: $iqdropdown-height;
    margin: 0;
    padding: 0 ($iqdropdown-padding * 2.5) 0 ($iqdropdown-padding / 2);
    position: relative;
    flex: 1;
  }

  .iqdropdown-selection::after {
    color: $base-font-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $iqdropdown-padding;
    top: $iqdropdown-arrow-top-distance;
  }

  .iqdropdown-menu {
    background: $iqdropdown-background;
    border: $iqdropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $iqdropdown-color;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    top: $iqdropdown-distance-from-menu;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99999;
    cursor: default;
  }

  .iqdropdown-menu-item {
    border-bottom: $iqdropdown-inner-border;
    color: $iqdropdown-color;
    list-style: none;
    padding: $iqdropdown-padding / 2;
    display: flex;
  }

  .iqdropdown-menu-item:last-child {
    border-bottom: 0;
  }

  .iqdropdown-menu-item div:first-child {
    flex: 1;
  }

  .show-menu {
    display: block;
  }
}
