/* Mixins */
@mixin font($color, $font-family, $font-size, $font-weight, $font-style) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin image($image-url, $display, $height, $width, $background-size, $vertical-align) {
  background: $image-url;
  display: $display;
  height: $height;
  width: $width; 
  background-size: $background-size;
  vertical-align: $vertical-align;
}

/* Variables */
$base-border-color: gainsboro !default;
$base-line-height: 1.5em !default;
$base-background-color: #F6FBFF;
$dark-gray: #333 !default;
$dropdown-border: 1px solid #B4D9FA;
$base-font-color: $dark-gray !default;
$iqdropdown-color: $base-font-color;
$iqdropdown-description-color: lighten($iqdropdown-color, 40%);
$iqdropdown-border: 1px solid #D0D0D0;
$iqdropdown-background: $base-background-color;
$iqdropdown-background-hover: darken($iqdropdown-background, 3%);
$iqdropdown-inner-border: 1px solid #D0D0D0;
$iqdropdown-height: 50px;
$iqdropdown-padding: 1em;
$iqdropdown-distance-from-menu: 50px;
$iqdropdown-arrow-top-distance: 25px;
$main-blue: #204F74;
$white: #FFFFFF;
$HelveticaNeue: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$Arial: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$OpenSans: 'OpenSans', 'Helvetica Neue', 'Helvetica', sans-serif;

.iqdropdown {
  line-height: $base-line-height;
  width: 100%;
  display: flex;
  position: relative;
  cursor: pointer;
  border: $iqdropdown-border;
  height: $iqdropdown-height;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  .iqdropdown-description {
    @include image(url('/src/images/passenger-icon.png') no-repeat, inline-block, 21px, 20px, 100% auto, middle);
    line-height: $iqdropdown-height;
    margin: $iqdropdown-padding ($iqdropdown-padding / 2) 0 $iqdropdown-padding;
  }

  .iqdropdown-selection {
    @include font($main-blue, $OpenSans, 17px, 600, normal);
    line-height: $iqdropdown-height;
    margin: 0;
    padding: 0 ($iqdropdown-padding * 2.5) 0 ($iqdropdown-padding / 2);
    position: relative;
    flex: 1;

    &.menu-open {
      &::after {
        @include image(url('/src/images/dropdown-arrow-up.png') no-repeat, inline-block, 5px, 12px, 100% auto, middle);
      }
    }
  }

  .iqdropdown-selection::after {
    @include image(url('/src/images/dropdown-arrow-down.png') no-repeat, inline-block, 5px, 12px, 100% auto, middle);
    color: $base-font-color;
    content: '';
    display: block;
    position: absolute;
    right: $iqdropdown-padding;
    top: $iqdropdown-arrow-top-distance;
  }

  .iqdropdown-menu {
    background: $iqdropdown-background;
    border: $dropdown-border;
    color: $iqdropdown-color;
    display: none;
    margin: -1px;
    overflow: show;
    padding: 0 15px;
    position: absolute;
    top: $iqdropdown-distance-from-menu;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99999;
    cursor: default;

    li {
      border-bottom: $dropdown-border;
      color: $iqdropdown-color;
      display: flex;
      list-style: none;
      padding: 15px 0;

      .iqdropdown-item-display {
        @include font($main-blue, $OpenSans, 17px, 500, normal);
        flex: 1;

        span {
          @include font(#6091BD, $OpenSans, 12px, 400, normal);
          display: block;
        }
      }

      .iqdropdown-item-controls {
        @include font($main-blue, $OpenSans, 17px, 500, normal);
        border: $dropdown-border;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        display: flex;

        .counter {
          padding: 11px 20px;
        }

        button {
          @include font($main-blue, $OpenSans, 15px, 700, normal);
          -webkit-appearance: none;
          background: none;
          border: none;
          margin: 0;
          padding: 10px 20px;

          .less {
            @include image(url('/src/images/less.png') no-repeat, inline-block, 3px, 15px, 100% auto, middle);
          }

          .more {
            @include image(url('/src/images/more.png') no-repeat, inline-block, 15px, 15px, 100% auto, middle);
          }

          &:first-child {
            border-right: $dropdown-border;
          }

          &:last-child {
            border-left: $dropdown-border;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    li:last-child {
      border-bottom: 0;
    }
  }

  .show-menu {
    display: block;
  }
}
